.wrap-chart {
  width: calc(100% - 270px);
  height: 100vh;
  background: #f7f8fc;
  padding: 4rem 3rem 0 3rem;
}

.title {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.chart {
  width: 900px;
  height: 450px;
  margin-top: 70px;
  margin-left: 150px;
  /* margin: 0 auto; */
}
